[Network Dashboards]
icon=icon_plus
isCategory=true

    [PfSense Router]
    url=<grafana_router_dashboard_url>
    icon=icon_piechart
    iframe=true

    [Vital Services Dashboard]
    url=<grafana_vs_dashboard_url>
    icon=icon_piechart
    iframe=true

    [Homelab Cluster]
    url=<grafana_hl_monitor_url>
    icon=icon_piechart
    iframe=true

    [Vital Services Cluster]
    url=<grafana_vs_monitor_url>
    icon=icon_piechart
    iframe=true

    [NAS Units]
    url=<grafana_nas_monitor_url>
    icon=icon_piechart
    iframe=true

[Monitoring Software]
icon=icon_plus
isCategory=true

    [Grafana]
    url=<grafana_url>
    icon=icon_table
    iframe=true

[Quick Links]
icon=icon_plus
isCategory=true

    [Amazon]
    url=https://www.amazon.com/
    icon=icon_bag
    iframe=false

    [eBay]
    url=https://www.ebay.com/
    icon=icon_cart
    iframe=false

    [Facebook]
    url=https://www.facebook.com/
    icon=social_facebook
    iframe=false

    [Gmail]
    url=https://www.gmail.com/
    icon=icon_mail
    iframe=false

    [Google Drive]
    url=https://www.drive.google.com
    icon=social_googledrive
    iframe-false

    [PC Part Picker]
    url=https://pcpartpicker.com/
    icon=icon_desktop
    iframe=false

    [Router]
    url=<router_url>
    icon=icon_globe-2
    iframe=false

    [Youtube]
    url=https://www.youtube.com/
    icon=social_youtube
    iframe=false
