torrent_client = "transmission"
torrent_username = "transmission_username"
torrent_password = "transmission_password"
torrent_host = "host_ip"
torrent_port = "host_port" # default 9091
prtg_map = "false"
show_errors = "true"
show_prtg = "false"
refresh_seconds = "300"
title_first_part = "OnyxNet HQ"
title_second_part = "Don't be suspicious"
